* {
  float: left;
}

#high-hat {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
  text-align: center;
}

#snare {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 1px solid black;
}

#tomtom1 {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 1px solid black;
}

#tomtom2 {
  height: 220px;
  width: 220px;
  border-radius: 100%;
  border: 1px solid black;
}
#cymbal {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 1px solid black;
}

#bass {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 1px solid black;
}
